<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set New Password</title>
</head>
<body>
  <h1>Set New Password</h1>
  
  <!-- Form for setting new password -->
  <form action="/updatePassword/" method="POST">
    <input type="hidden" name="userId" value="<%= userId %>">
    <label for="password">Enter your new password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="confirmPassword">Confirm new password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
