<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Group 7 App Admin Page</title>
</head>
<body>

<div class="header">
    <h1>Group 7 Admin App</h1>
    <ul class="nav">
        <li>
            <form id="form-logout" action="/logout" method="POST">
                <a href="#" onclick="document.getElementById('form-logout').submit()" style="color: aquamarine; font-weight: bold">Logout</a>
            </form>
        </li>
    </ul>
</div>

<!-- Users Section -->
<div class="section" id="users">
    <h2>Users</h2>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>API Calls</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.firstname %></td>
                    <td><%= user.num_api_calls %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

</body>
</html>
